/* src/TabComponent.css */
.tab-container {
  width: 100%;
}

.tab-headers {
  display: flex;
  /* border-bottom: 1px solid #ccc; */
}

.tab-header {
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
}

.tab-header.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.tab-content {
  padding: 20px;
  background-color: #f9f9f9;
}
