@import url("/src/css/theme.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

@import "./css/toggle.css";

:root,
body {
  font-family: "Outfit";
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
button {
  cursor: pointer;
}
.stroke-icon {
  width: 20px;
  height: 20px;
  stroke: var(--text-primary-color);
}
.dark .header-icon svg {
  stroke: #fff;
  color: #fff;
}
.svg-menu {
  width: 16px;
  height: 16px;
  stroke: var(--text-secondary-color);
}
.feather {
  width: 16px;
  height: 16px;
  stroke: #f90909;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary-color);
  outline: 1px solid slategrey;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 5px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.397);
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: var(--text-secondary-color);

  outline: none;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-secondary-color);
}
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #ccc;
  transition: all 0.3s;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--text-primary-color);
  animation: pop 0.5s;
  animation-direction: alternate;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.5em;
  top: 0.2em;
  width: 0.55em;
  height: 0.9em;
  border: solid white;
  border-width: 0 0.25em 0.25em 0;
  transform: rotate(40deg);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat, repeat !important;
  background-position: right 0.7em top 50%, 0 0 !important;
  background-size: 0.65em auto, 100% !important;
} */

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.page-title .breadcrumb-item+.breadcrumb-item:before {
    float: left;
    padding-right: 5px;
    content: "/";
    color: var(--text-primary-color);
}
